* {
    box-sizing: border-box; /* Ширина и высота элементов считаются пропорционально */
}
html {
    font-size: 1rem;
}

    @font-face {
        font-family: "Bebas Neue Book";
         src: url("../fonts/BebasNeueBook.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        }


body {
    font-family: "Noto Sans", sans-serif; /*Эта информация из Google-шрифтов, блок CSS rules to specify families*/
}
.mobile-menu {
    display: none;
}
.container {
    max-width: 1440px;
    margin: auto;
}
.navbar {
    /* background-color: #290303; временно, для понимания, где конец элемента. Эта позиция отключена после момента написания header*/
    display: flex; /* Задаем поведение элемента*/
    align-items: center; /*Выравнивание по центру*/
    color: #fff;
    height: 94px;
    position: fixed; /*relative позиционирование обозначает главенство какого-либо элемента. Блоки c названием 'о компании' и т.п. выходитят вперед относительно затемненного слоя в псевдоклассе before*/
    border-bottom: .0625rem solid rgba(235, 235, 240, 0.2);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    transition: background-color 0.2s, height 0.2s; /*цвет меняется плавно*/
}

.logo-svg {
    width: 144px;
    height: 44px;

}
.navbar-light {
   background-color: #fff; 
   color: #292D33;
   height: 72px;
}
.phone-icon {
    fill: #5C8EE6;
}

.navbar-light .header-logo-path {
    fill: #292D33;
}

.header{
    padding-top: 94px;
    }

.header-image{
    background-image: url('../img/header-bg.jpeg');
    background-size: cover; /*фоновая картинка занимает весь экран*/
    background-repeat: no-repeat; /*не повторяется*/
    background-position: center -249px;/* картинка всегда загружается по центру*/
    position: relative; /*позиция этой картинки для остальных - родительская. Относительно нее строится блок :: before*/
}
 /*В блоке .header-image::before мы создаем затемненный прямоугольник, на котором лежит фото background*/

.header-image::before { /*:: псевдоклассы. В нашей разметке нет класса before, но в сss мы задаем для него стиль. Before - псевдокласс */
    content: "";
    position: absolute; /*в строках position и top/left задаются стартовые координаты позиционирования */
    background-color: rgba(41, 45, 51, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* в каком слое лежит элемент. 0-внизу*/
}

.header-logo {
    display: flex;
    align-items: center;
    padding: 0rem;
    padding-left:  25px;
    padding-right: 25px;
    border-right: .0625rem solid rgba(235, 235, 240, 0.2);
    height: 100%;/*в % от родителя*/
}
.header-nav {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 50px;
    list-style: none;
    margin: 0;
}
/* Можно писать свойства в экране просмотра страницы в блоке element.style - сразу наглядный результат. Потом скопировать их и вставить сюда. */

.header-nav-item{
    display: flex;
    align-items: center;
    height: 100%;
}

.header-nav-item:not(:last-child){
    margin-right: 50px;

}
.header-nav-link {
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    height: 100%;
    color: inherit;
    position: relative;
}   
.header-nav-link:after { /*эффект после наведения*/
    content: "";
    width: 0rem;
    height: .125rem;
    position: absolute;
    bottom: -0.0625rem;
    background-color: #5C8EE6;
    transition: width 0.2s; /*плавность*/
    right: 0;
    left: auto;
}

.header-nav-link:hover::after { /*эффект при наведении*/
    width: 100%;
    right: auto;
    left: 0; /*подчеркивание появляется слева, а прпадает в право*/
}

.header-phone {
    flex-shrink: 0 ; /*Сжатие. 0-не сжимается*/
    display: flex;
    align-items: center;
    gap: 10px; /*расстояние между символом и номером телефона*/
    text-decoration: none; /*текст не подчеркнутый*/
    margin-right: 50px;
}
.header-phone-link { /*для ссылок надо прописывать стили отдельно, они из класса не подтягиапются*/
    text-decoration: none;
    font-size: 16px;
    color: inherit /*Inherit - цвет как у родительского элемента*/
}
.button {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    background: #3A71D1;
    display: inline-block;
    padding: 25px 55px;
    border: none;
    cursor: pointer;
    max-width: 315px;
    
}

.navbar-button {
    flex-shrink: 0; /*не сжиматься никогда*/
    height: 100%;
    padding: 25px 40px;   

}
.navbar-button .button-icon {
    display: none;
}
.header-button {
    height: 100%;
}
.sepаrator {
    background: #5C8EE6;
    width: 150px;
    height: 2px;
    padding-bottom: 2px;
    margin-top: 80px;
}
.header-content {
    padding-top: 68px;
    padding-left: 10px;
    letter-spacing: 1px;
    word-spacing: -0.25rem;
    position: relative; 
    z-index: 1;
    color: #fff;
}
.header-title {
    max-width: 1080px;
    font-family: "Bebas Neue Book";
    font-size: 80px;
    line-height: 120%;
    margin-top: 26px;
    margin-bottom: 35px;
}
.header-text {
    max-width: 720px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 50px;
    letter-spacing: .0063rem;
    word-spacing: -0.0625rem;
}
.header-features {
    display: flex;
    min-height: 168px;
    padding: 0;
    margin-top: 102px;
    list-style: none;
    color: #FFFFFF;
    position: relative; /*текст в верхнем слое*/
    }
.slider-buttons {
    display: none;
    height: 2.75rem;
}
.slider-button-prev, 
.slider-button-next {
    height: 100%;
    flex-basis: 50%;
    border: .0625rem solid rgba(235, 235, 240, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header-features-item {
    width: 287px;
    min-height: 100%;
    padding: 28px 50px;
    border: .0625rem solid rgba(235, 235, 240, 0.2);

}

.header-features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin-top: 19px;
    margin-bottom: 0;
}
.section {
    margin-top: 150px;
    margin-bottom: 150px;
}

.section-title {
    font-family: "Bebas Neue Book";
    font-size: 60px;
    line-height: 120%;
    color: #292D33;
    margin-top: 25px;
    margin-left: 10px;
}
.steps {
    display: flex; /*элемент ведет себя как блочный*/
    list-style: none;
    padding: 7px;
    gap: 30px;
}
.steps-item {
    max-width: 330px;
    letter-spacing: .0063rem;
}
.steps-num {
    font-family: "Bebas Neue Book";
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #5C8EE6;
    display: flex;
    align-items: center;
}
.steps-num:after {
    content: "";
    height: .0625rem;
    background: #EBEBF0;
    width: 100%;
    margin-left: 30px;
}
.steps-title {
    font-weight: 400;
    font-size: 28px;
    line-height: 160%;
    color: #292D33;
    margin-top: 30px;
    margin-bottom: 10px;
}
.steps-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #828A99;
    margin-top: 10px;
    margin-bottom: 20px;
}
.button-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #5C8EE6;
}
.button-link::before {
    content: "";
    height: 1px;
    background: #5C8EE6;
    width: 40px;
    margin-right: 20px;
    transition: width 0.2s;
}
.button-link:hover:before { /*при наведении на элемент before меняется ширина полоски*/
    width: 60px;
}
.steps-buttons {
    display: none;
    height: 2.5rem;
    justify-content: flex-end;
    }

.steps-button-prev, .steps-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5C8EE5; 
    height: 100%;
    width: 3.75rem;
    cursor: pointer;
}
.cards {
    display: flex;
    flex-wrap: wrap; /*переносить на другую строку*/
}
.card {
    text-decoration: none;
    flex-basis: 33%; /*размер карточки*/
    border: 1px solid  #EBEBF0;
    position: relative;
    transition: border 0.2s;
}
.card:hover .card-title { /*При наведении на заголовок*/
    color: #5C8EE5;   
}

.card:hover {
    border-color: #5C8EE5;
}

.card-image {
    width: 100%; /*картинки не выпадают за пределы родителя*/
    position: absolute;/*выравнивание относительно свойства родителя position: relative*/
    bottom: 0;/*карточка всегда прижата к нижу и углам и при переполнении текстом удлиняется*/
    left: 0;
    right: 0;
    z-index: 0; /*текст всегда перекрывает карточку. Чем выше индекс, тем выше статус свойства*/
}
.card-content {
    padding: 40px 50px;
}
.card-title {
    font-weight: 400;
    font-size: 28px;
    line-height: 140%; /*межстрочный интервал*/
    color: #292D33;
    margin-top: 0;
    margin-bottom: 10px;
    transition: color 0.2s;
}
.card-text {
    font-size: 16px;
    line-height: 160%;
    color: #828A99;
    margin-bottom: 394px;
}
.trademark-cards {
    display: flex;
}
.trademark-card {
    flex-basis: 50%;
    text-decoration: none;
    border: 1px solid  #EBEBF0;
    transition: border 0.2s;
    padding: 50px;
    display: grid; /*задаем своейство карточки, при которой формируются координатные ящейки*/
    grid-template-columns: 1fr 1fr 1fr; /*можно указывать в пикселях или фракциях (долях от целого*/
    grid-template-rows: auto 2fr; /*короткая запись если все ячейки однаковые через repeat (2,1fr) */
    grid-column-gap: 50px; /*отступы между ячейками grid*/
    grid-template-areas: /*переименование областей*/
    "logo title title" /*задаем что лежит в каждой ячейке. Если у ячеек одинаковое содержимое, то они объединятся после указания gred-area*/
    "logo text text"; 
}
.trademark-card-logo {
    width: 100%;
    height: 100%;
    fill:#828A99;
    grid-area: logo;
}
.trademark-card-title {
    grid-area: title;
    font-weight: 400;
    margin: 0;
    font-size: 28px;
    line-height: 160%;
    color: #292D33;
}

.trademark-card-text {
    grid-area: text;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #828A99;
    margin-top: 10px;
}

.trademark-card:hover {
    border-color: #5C8EE5;
}
.trademark-card:hover .trademark-card-logo {
    fill:#5C8EE6;
}
.trademark-card:hover .trademark-card-title {
    color:#5C8EE6;
}
.section-founder {
    min-height: 660px;
    position: relative;
    /* margin-left: 50px; */
    margin-top: 150px;
    margin-bottom: 150px;
}
.founder-foto {
    position: absolute;
    left: 0;
    width: 40%;
    top: 0;
    height: 100%;
    object-fit: cover; /*Не деформируется картинка*/
}
.founder-content {
    max-width: 720px;
}
.founder-content-wrapper {
    display: flex;
    justify-content: flex-end;
      
}
.founder-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #828A99;
}
.clients-wrapper {
    display: flex;
    gap: 3.125rem;
    margin-bottom: 150px;
}
.clients-content {
    flex-basis: 50%;
}
.clients-list {
    list-style-type: none;
    padding: 0;
    columns: 2;
}
.clients-list-item {
    display: flex; /*как только собирается располагать элементы блоками - сразу display:flex*/
    align-items: center; /*по вторичной оси выравниваем по центру*/
    gap: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #292D33;
}
.clients-logo-list {
   display: flex;
   flex-wrap: wrap; /*может переполняться*/
   flex-shrink: 10;
}

.clients-logo-item {
    display: flex;
    min-height: 10rem;
    justify-content: center;
    align-items: center;
    flex-basis: 33%;
    border: 1px solid #EBEBF0;
    padding: 1rem;
    filter: grayscale(100%); /*фильтр показывает, насколько серая иконка*/
    transition: filter 0.2s;
}
.clients-logo-item:hover {
    filter: grayscale(0%);
}
.clients-logo {
    max-width: 100%;
    width: 4.375rem;
    height: 4.375rem;
}
@media (max-width: 1600px) {
    html {
        font-size: .875rem;
  }  
    .header-image {
        background-position: center;
  }
}

@media (max-width: 1460px) {
    html {
        font-size: .8125rem;
  }  
    header-image {
        background-position: center;
  }
    .header-logo {
        padding: 32px;
    }
    .logo-svg {
        max-width: 96px;
    }
    .header-nav {
        padding-left: 32px;
    }
    .header-nav-item:not(:last-child) {
        margin-right: 16px;
    }
    .header-phone {
        margin-right: 32px;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: .75rem;
    }  
    .container {
        max-width: 1120px;
    }
    
    .header-phone {
        display: none;
    }
    .header-image {    
        background-position: center;
    }
    .navbar {
        height: 80px;
    }
    .navbar-button {
        padding-left: 32px;
        padding-right: 32px;
    }
    .slider-buttons {
        display: flex;
    }
    .steps-buttons {
        display: flex;
    }
    .card {
        flex-basis: 50%;
    }
    .trademark-card {
        grid-template-columns: auto auto;
    }
    .founder-content {
        max-width: 560px;
    }
}  

@media (max-width: 992px) {
    html {
        font-size: .75rem;
      }  
      .container {
        max-width: 960px;
    }
      .header-nav {
        display: none;
      }
    .header-logo {
        flex-grow: 1;
        justify-content: center;
    }      
    
    .mobile-menu-toggle {
        width: 5rem; 
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 28.8px;
        border-right: .0625rem solid rgba(235, 235, 240, 0.2);

    }
    .navbar-light .mobile-menu-line {
        background-color: #333;
    }

    .mobile-menu-line {
        height: .0625rem;
        background-color: #fff;
        width: 100%;
        transition: transform 0.2s; /*плавность переключения 3х линий в крест*/
        
    }
    .mobile-menu-line:nth-child(2) {
        width: 80%;       
    }
    .navbar-button .button-text {
        display: none;
    }
    .navbar-button .button-icon{
        display: block;
        fill: #ffffff;
    }
    .mobile-menu {       
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        z-index: 2;
        background-color: #fff;
        padding-top: 80px;
        padding-left: 24px;
        padding-right: 15px;
    }    
    .mobile-menu.is-open {
        display: block;
    }

    .mobile-menu-nav {
        list-style: none;
        padding: 0;
    } 
    .mobile-menu-nav-item {
        margin-bottom: 30px;
    } 
    .mobile-menu-link {  
        text-decoration: none; 
        font-weight: 700;
        font-size: .875rem;
        line-height: 160%;
        color: #292D33;

    }
    .mobile-submenu {
        list-style: none;
        padding: 0;
        padding-left: 16px;
        font-weight: 400;
        margin-bottom: 16px;
    }
    .mobile-submenu-link {
        text-decoration: none;
        font-size: 14px;
        line-height: 160%;
        color: #828A99;
    
    }
    .mobile-phone {
        display: block;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 160%;
        text-decoration-line: underline;
        color: #292D33;
        border-top: .0625rem solid #EBEBF0;
        padding-top: 30px;
        margin-bottom: 24px;
    }
    .mobile-info {
       display: flex;
       align-items:center;
       gap: 16px;
       margin-bottom: 16px;
    }
    .mobile-info-address, 
    .mobile-info-email {
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: .875rem;
        line-height: 160%;
        color: #292D33;

    }
    .phone-icon-address {
        fill: #5C8EE5; 
    }
    .mobile-phone-icon {
        display: block;
        align-items: flex-start;
        justify-content: space-between;
    }
    .close-menu .mobile-menu-line:nth-child(2) {
        display: none;
    }
    .close-menu .mobile-menu-line:nth-child(1) {
        transform: rotate(45deg) translateY(.625rem); /*развернуть первого ребенка в псевдоклассе mobile-menu-line (первую линию) под 45*/
    }
    .close-menu .mobile-menu-line:nth-child(3) {
        transform: rotate(-45deg) translateY(-0.625rem); /*развернуть третьего ребенка в псевдоклассе mobile-menu-line (третью линию) под 45*/
    }
    .trademark-cards {
        flex-direction: column;
    }
    .clients-content {
        flex-basis: 60%;
    }
    .clients-wrapper {
        flex-direction: column;
    }
}
@media (max-width:768px) {
    .container {
        max-width: 640px;
    }
    .header-title {
        font-size: 64px;
    }
    .header-content {
        padding-top: 48px;
    }
    .card {
        flex-basis: 100%;
    }
    .founder-foto {
        position: relative;
        width: 100%;
        margin-bottom: 50px;
    }
}
@media (max-width:576px) {
    .container {
        max-width: 90%;
    }
    .header-title {
        font-size: 32px;
    }
    .header-content {
        padding-top: 32px;
    }
    .trademark-card {
        grid-template-areas: 
        "logo title"
        "text text";
    }
    .clients-list {
        columns: 1;
    }
    .clients-logo-item {
        flex-basis: 50%;
    }
}