* {
    box-sizing: border-box; /* Ширина и высота элементов считаются пропорционально */
}

    @font-face {
        font-family: "Bebas Neue Book";
         src: url("../fonts/BebasNeueBook.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        }


body {
    font-family: "Noto Sans", sans-serif; /*Эта информация из Google-шрифтов, блок CSS rules to specify families*/
}
.container {
    max-width: 1440px;
    margin: auto;
}
.navbar {
    /* background-color: #290303; временно, для понимания, где конец элемента. Эта позиция отключена после момента написания header*/
    display: flex; /* Задаем поведение элемента*/
    align-items: center; /*Выравнивание по центру*/
    color: #fff;
    height: 94px;
    position: fixed; /*relative позиционирование обозначает главенство какого-либо элемента. Блоки c названием 'о компании' и т.п. выходитят вперед относительно затемненного слоя в псевдоклассе before*/
    border-bottom: 1px solid rgba(235, 235, 240, 0.2);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    transition: background-color 0.2s, height 0.2s; /*цвет меняется плавно*/
}
.navbar-light {
   background-color: #fff; 
   color: #292D33;
   height: 72px;
}
.navbar-light .header-logo-path {
    fill: #292D33;
}

.header{
    padding-top: 94px;
    min-height: 100vh;
}

.header-image{
    background-image: url('../img/header-bg.jpeg');
    background-size: cover; /*фоновая картинка занимает весь экран*/
    background-repeat: no-repeat; /*не повторяется*/
    background-position: center -249px;/* картинка всегда загружается по центру*/
    position: relative; /*позиция этой картинки для остальных - родительская. Относительно нее строится блок :: before*/
}
 /*В блоке .header-image::before мы создаем затемненный прямоугольник, на котором лежит фото background*/

.header-image::before { /*:: псевдоклассы. В нашей разметке нет класса before, но в сss мы задаем для него стиль. Before - псевдокласс */
    content: "";
    position: absolute; /*в строках position и top/left задаются стартовые координаты позиционирования */
    background-color: rgba(41, 45, 51, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* в каком слое лежит элемент. 0-внизу*/
}

.header-logo {
    display: flex;
    align-items: center;
    padding: 0px 50px;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
    height: 100%;/*в % от родителя*/
}
.header-nav {
    flex-basis: 100%;
    display: flex;
    padding: 0 50px;
    list-style: none;
    margin: 0;
}
/* Можно писать свойства в экране просмотра страницы в блоке element.style - сразу наглядный результат. Потом скопировать их и вставить сюда. */

.header-nav-link {
    text-decoration: none;
    font-size: 16px;
    margin-right: 50px;
    color: inherit;

}

.header-phone {
    flex-shrink: 0 ; /*Сжатие. 0-не сжимается*/
    display: flex;
    align-items: center;
    gap: 10px; /*расстояние между символом и номером телефона*/
    text-decoration: none; /*текст не подчеркнутый*/
    margin-right: 50px;
}
.header-phone-link { /*для ссылок надо прописывать стили отдельно, они из класса не подтягиапются*/
    text-decoration: none;
    font-size: 16px;
    color: inherit /*Inherit - цвет как у родительского элемента*/
}
.button {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    background: #3A71D1;
    display: inline-block;
    padding: 25px 55px;
    border: none;
    cursor: pointer;
    max-width: 315px;
    
}

.navbar-button {
    flex-shrink: 0; /*не сжиматься никогда*/
    height: 100%;
    padding: 25px 40px;   

}
.header-button {
    height: 100%;
}
.sepаrator {
    background: #5C8EE6;
    width: 150px;
    height: 2px;
    padding-bottom: 2px;
    margin-top: 80px;
}
.header-content {
    padding-top: 68px;
    padding-left: 10px;
    letter-spacing: 1px;
    word-spacing: -4px;
    position: relative; 
    z-index: 1;
    color: #fff;
}
.header-title {
    max-width: 1080px;
    font-family: "Bebas Neue Book";
    font-size: 80px;
    line-height: 120%;
    margin-top: 26px;
    margin-bottom: 35px;
}
.header-text {
    max-width: 720px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 50px;
    letter-spacing: 0.1px;
    word-spacing: -1px;
}
.header-features {
    display: flex;
    min-height: 168px;
    padding: 0;
    margin-top: 102px;
    margin-left: 5px;
    list-style: none;
    color: #FFFFFF;
    position: relative; /*текст в верхнем слое*/


}
.header-features-item {
    width: 287px;
    padding: 28px 50px;
    border: 1px solid rgba(235, 235, 240, 0.2);
}
.header-features-item:not(:last-child) {/*в конструкции not(:last-child) указываются допюнастройки всех элементов, кроме последнего*/
    border-right :none; 
}
.header-features-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin-top: 19px;
    margin-bottom: 0;
}
.section {
    margin-top: 150px;
    margin-bottom: 150px;
}

.section-title {
    font-family: "Bebas Neue Book";
    font-size: 60px;
    line-height: 120%;
    color: #292D33;
    margin-top: 25px;
    margin-left: 10px;
}
.steps {
    display: flex; /*элемент ведет себя как блочный*/
    list-style: none;
    padding: 7px;
    gap: 30px;
}
.steps-item {
    max-width: 330px;
    letter-spacing: 0.1px;
}
.steps-num {
    font-family: "Bebas Neue Book";
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #5C8EE6;
    display: flex;
    align-items: center;
}
.steps-num:after {
    content: "";
    height: 1px;
    background: #EBEBF0;
    width: 100%;
    margin-left: 30px;
}
.steps-title {
    font-weight: 400;
    font-size: 28px;
    line-height: 160%;
    color: #292D33;
    margin-top: 30px;
    margin-bottom: 10px;
}
.steps-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #828A99;
    margin-top: 10px;
    margin-bottom: 20px;
}
.steps-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #5C8EE6;
}
.steps-link::before {
    content: "";
    height: 1px;
    background: #5C8EE6;
    width: 40px;
    margin-right: 20px;
}
